@charset "UTF-8";
#category ul .pro_cate {
  width: 100%;
  border: 1px solid #ccc;
  line-height: 40px;
}
#category ul .pro_cate:first-child {
  border-radius: 8px 8px 0 0;
}
#category ul .pro_cate:last-child {
  border-radius: 0 0 8px 8px;
}
#category ul .pro_cate .pro_name {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-left: 20px;
}
#category ul .pro_cate .category_content {
  display: none;
}
#category ul .pro_cate .category_content .pro_info {
  width: 33.33333333%;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  float: left;
  text-align: center;
  line-height: 40px;
}
#category ul .pro_cate .category_content .pro_info a {
  font-size: 14px;
}
