<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>慢慢买首页</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/productList.css">

</head>
<body>

<div class="mm_container">
    <div class="mm_header">
        <div class="logo">
            <a href="index.html"><img src="images/header_logo.png" alt=""></a>
        </div>
        <div class="appdown">
            <a href="javascript:;"><img src="images/header_app.png" alt=""></a>
        </div>
    </div>
    <div class="mm_search">
        <input type="text" name="search" placeholder="请输入您想比价的商品">
        <button>搜索</button>
    </div>
    <div class="product_list">
        <div class="product_list_title">
            <div class="product_list_nav">
                <!--挖个坑-->
            </div>
            <a href="javascript:;" class="product_screen">筛选</a>
        </div>
        <div class="product_details clearfix">
            <ul>
                <!--挖个坑-->

            </ul>
            <div class="page">
                <span><a href="javascript:;" class="before">上一页</a></span>
                 <span><select class="num_page">
               <!--挖个坑-->
                </select></span>
                <span><a href="javascript:;" class="after">下一页</a></span>
            </div>
        </div>
    </div>

    <div class="mm_footer_top">
        <div class="login"><a href="javascript:;">登录</a></div>
        <div class="register"><a href="javascript:;">注册</a></div>
        <div class="go_top"><a href="#">返回顶部</a></div>
    </div>
    <div class="mm_footer">
        <p><a href="javascript:;">手机APP下载</a> <a href="javascript:;">慢慢买手机版</a> -- 掌上比价平台
        </p>
        <p>m.manmanbuy.com</p>
    </div>

</div>

<script type="text/html" id="tpl">
    {{each result v i}}
    <a href="index.html">首页</a>
    >
    <a href="category.html">全部分类</a>
    >
    <a href="productList.html">{{v.category}}</a>
    >
    {{/each}}
</script>

<script type="text/html" id="tpl2">
    {{each result v i}}
    <li>
        <a href="bijia.html?productid={{v.productId}}&categoryId={{v.categoryId}}">
            <div class="product_img">
                {{@v.productImg}}
            </div>
            <div class="product_info">
                <div class="info_top">{{v.productName}}</div>
                <div class="info_middle">{{v.productPrice}}</div>
                <div class="info_footer">
                    <span>{{v.productQuote}}</span>&nbsp;&nbsp;
                    <span>{{v.productCom}}</span>
                </div>
            </div>
        </a>
    </li>
    {{/each}}
</script>

<script type="text/html" id="tpl3">
    <% for(var i = 1 ; i <= pagenum ; i++) { %>
    <% if(pageid == i){ %>
    <option value="{{i}}" selected>{{i}}/{{pagenum}}</option>
    <% } %>
    <option value="{{i}}">{{i}}/{{pagenum}}</option>
    <% } %>
</script>

<script src="lib/jquery/jquery-1.12.4.min.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="js/common.js"></script>
<script src="js/productList.js"></script>
</body>
</html>